<!DOCTYPE html>
<html lang="en">
  <meta
    http-equiv="content-type"
    content="text/html;charset=UTF-8"
  /><!-- /Added by HTTrack -->
  <head>
    <!-- CSRF Token -->
    <meta
      name="csrf-token"
      content="4KUx5EniMMwxnr2PPAiDFv1em7M0xTA7d6d4Scef"
    />

    <meta charset="utf-8" />
    <title>Register || Block Forex Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/invest/home/home/images/favicon.png" />

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="/invest/home/home/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/invest/home/home/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/invest/home/home/css/magnific-popup.css" />
    <link rel="stylesheet" href="/invest/home/home/css/select2.min.css" />
    <link rel="stylesheet" href="/invest/home/home/css/style.css" />
    <link rel="stylesheet" href="/invest/home/home/css/skins/orange.css" />

    <!-- Live Style Switcher - demo only -->
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="orange"
      href="/invest/home/home/css/skins/orange.css"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="green"
      href="/invest/home/home/css/skins/green.css"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="blue"
      href="/invest/home/home/css/skins/blue.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/invest/home/home/css/styleswitcher.css"
    />

    <!-- Template JS Files -->
    <script src="/invest/home/home/js/modernizr.js"></script>
  </head>
  <body class="auth-page" style="background-color: #e9e9e9">
    <!-- Wrapper Starts -->
    <div class="wrapper">
      <div class="container user-auth" style="padding: 40px">
        <div class="row">
          <div
            class="col-sm-5 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-md-5 col-lg-5"
            style="background: #fff; padding: 40px"
          >
            <!-- Logo Starts -->

            <!-- Logo Ends -->
            <div class="form-container">
              <div>
                <div class="row text-center">
                  <a href="/">
                    <img
                      src="/images/blockstream.png"
                      width="230"
                      height="67"
                      alt=""
                    />
                  </a>
                </div>
                <!-- Section Title Starts -->

                <!-- Captcha error message 
    -->
                <div class="row text-center">
                  <h2 class="title-head" style="font-size: 1.5em; color: #555">
                    member registration
                  </h2>
                </div>
                <form action="" method="POST">
                  <%-include("./partials/messages") %>

                  <div class="form-group">
                    <label>E-mail</label>
                    <input
                      style="background: transparent; color: #555"
                      type="text"
                      name="email"
                      class="form-control"
                      placeholder="Type your email"
                      value=""
                    />
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label>Full Name</label>
                    <input
                      style="background: transparent; color: #555"
                      type="text"
                      name="fullname"
                      class="form-control"
                      placeholder="Type your fullname"
                      value=""
                    />
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      style="background: transparent; color: #555"
                      type="text"
                      name="username"
                      class="form-control"
                      placeholder="Type your username"
                      value=""
                    />
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input
                      style="background: transparent; color: #555"
                      type="text"
                      name="phone"
                      class="form-control"
                      placeholder="Enter a valid phone number"
                      value=""
                    />
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    <select
                      style="background: transparent; color: #555"
                      name="country"
                      dropdown="100"
                      class="form-control"
                      id="country"
                      placeholder="Select Country"
                    >
                      <option>Afghanistan</option>
                      <option>Albania</option>
                      <option>Algeria</option>
                      <option>American Samoa</option>
                      <option>Andorra</option>
                      <option>Angola</option>
                      <option>Anguilla</option>
                      <option>Antarctica</option>
                      <option>Antigua and Barbuda</option>
                      <option>Argentina</option>
                      <option>Armenia</option>
                      <option>Aruba</option>
                      <option>Australia</option>
                      <option>Austria</option>
                      <option>Azerbaijan</option>
                      <option>Bahamas</option>
                      <option>Bahrain</option>
                      <option>Bangladesh</option>
                      <option>Barbados</option>
                      <option>Belarus</option>
                      <option>Belgium</option>
                      <option>Belize</option>
                      <option>Benin</option>
                      <option>Bermuda</option>
                      <option>Bhutan</option>
                      <option>Bolivia</option>
                      <option>Bosnia and Herzegowina</option>
                      <option>Botswana</option>
                      <option>Bouvet Island</option>
                      <option>Brazil</option>
                      <option>British Indian Ocean Territory</option>
                      <option>Brunei Darussalam</option>
                      <option>Bulgaria</option>
                      <option>Burkina Faso</option>
                      <option>Burundi</option>
                      <option>Cambodia</option>
                      <option>Cameroon</option>
                      <option>Canada</option>
                      <option>Cape Verde</option>
                      <option>Cayman Islands</option>
                      <option>Central African Republic</option>
                      <option>Chad</option>
                      <option>Chile</option>
                      <option>China</option>
                      <option>Christmas Island</option>
                      <option>Cocos (Keeling) Islands</option>
                      <option>Colombia</option>
                      <option>Comoros</option>
                      <option>Congo</option>
                      <option>Congo, the Democratic Republic of the</option>
                      <option>Cook Islands</option>
                      <option>Costa Rica</option>
                      <option>Cote d'Ivoire</option>
                      <option>Croatia (Hrvatska)</option>
                      <option>Cuba</option>
                      <option>Cyprus</option>
                      <option>Czech Republic</option>
                      <option>Denmark</option>
                      <option>Djibouti</option>
                      <option>Dominica</option>
                      <option>Dominican Republic</option>
                      <option>East Timor</option>
                      <option>Ecuador</option>
                      <option>Egypt</option>
                      <option>El Salvador</option>
                      <option>Equatorial Guinea</option>
                      <option>Eritrea</option>
                      <option>Estonia</option>
                      <option>Ethiopia</option>
                      <option>Falkland Islands (Malvinas)</option>
                      <option>Faroe Islands</option>
                      <option>Fiji</option>
                      <option>Finland</option>
                      <option>France</option>
                      <option>France, Metropolitan</option>
                      <option>French Guiana</option>
                      <option>French Polynesia</option>
                      <option>French Southern Territories</option>
                      <option>Gabon</option>
                      <option>Gambia</option>
                      <option>Georgia</option>
                      <option>Germany</option>
                      <option>Ghana</option>
                      <option>Gibraltar</option>
                      <option>Greece</option>
                      <option>Greenland</option>
                      <option>Grenada</option>
                      <option>Guadeloupe</option>
                      <option>Guam</option>
                      <option>Guatemala</option>
                      <option>Guinea</option>
                      <option>Guinea-Bissau</option>
                      <option>Guyana</option>
                      <option>Haiti</option>
                      <option>Heard and Mc Donald Islands</option>
                      <option>Holy See (Vatican City State)</option>
                      <option>Honduras</option>
                      <option>Hong Kong</option>
                      <option>Hungary</option>
                      <option>Iceland</option>
                      <option>India</option>
                      <option>Indonesia</option>
                      <option>Iran (Islamic Republic of)</option>
                      <option>Iraq</option>
                      <option>Ireland</option>
                      <option>Israel</option>
                      <option>Italy</option>
                      <option>Jamaica</option>
                      <option>Japan</option>
                      <option>Jordan</option>
                      <option>Kazakhstan</option>
                      <option>Kenya</option>
                      <option>Kiribati</option>
                      <option>Korea, Democratic People's Republic of</option>
                      <option>Korea, Republic of</option>
                      <option>Kuwait</option>
                      <option>Kyrgyzstan</option>
                      <option>Lao People's Democratic Republic</option>
                      <option>Latvia</option>
                      <option>Lebanon</option>
                      <option>Lesotho</option>
                      <option>Liberia</option>
                      <option>Libyan Arab Jamahiriya</option>
                      <option>Liechtenstein</option>
                      <option>Lithuania</option>
                      <option>Luxembourg</option>
                      <option>Macau</option>
                      <option>Macedonia</option>
                      <option>Madagascar</option>
                      <option>Malawi</option>
                      <option>Malaysia</option>
                      <option>Maldives</option>
                      <option>Mali</option>
                      <option>Malta</option>
                      <option>Marshall Islands</option>
                      <option>Martinique</option>
                      <option>Mauritania</option>
                      <option>Mauritius</option>
                      <option>Mayotte</option>
                      <option>Mexico</option>
                      <option>Micronesia, Federated States of</option>
                      <option>Moldova, Republic of</option>
                      <option>Monaco</option>
                      <option>Mongolia</option>
                      <option>Montserrat</option>
                      <option>Morocco</option>
                      <option>Mozambique</option>
                      <option>Myanmar</option>
                      <option>Namibia</option>
                      <option>Nauru</option>
                      <option>Nepal</option>
                      <option>Netherlands</option>
                      <option>Netherlands Antilles</option>
                      <option>New Caledonia</option>
                      <option>New Zealand</option>
                      <option>Nicaragua</option>
                      <option>Niger</option>
                      <option>Nigeria</option>
                      <option>Niue</option>
                      <option>Norfolk Island</option>
                      <option>Northern Mariana Islands</option>
                      <option>Norway</option>
                      <option>Oman</option>
                      <option>Pakistan</option>
                      <option>Palau</option>
                      <option>Panama</option>
                      <option>Papua New Guinea</option>
                      <option>Paraguay</option>
                      <option>Peru</option>
                      <option>Philippines</option>
                      <option>Pitcairn</option>
                      <option>Poland</option>
                      <option>Portugal</option>
                      <option>Puerto Rico</option>
                      <option>Qatar</option>
                      <option>Reunion</option>
                      <option>Romania</option>
                      <option>Russian Federation</option>
                      <option>Rwanda</option>
                      <option>Saint Kitts and Nevis</option>
                      <option>Saint LUCIA</option>
                      <option>Saint Vincent and the Grenadines</option>
                      <option>Samoa</option>
                      <option>San Marino</option>
                      <option>Sao Tome and Principe</option>
                      <option>Saudi Arabia</option>
                      <option>Senegal</option>
                      <option>Seychelles</option>
                      <option>Sierra Leone</option>
                      <option>Singapore</option>
                      <option>Slovakia (Slovak Republic)</option>
                      <option>Slovenia</option>
                      <option>Solomon Islands</option>
                      <option>Somalia</option>
                      <option>South Africa</option>
                      <option>
                        South Georgia and the South Sandwich Islands
                      </option>
                      <option>Spain</option>
                      <option>Sri Lanka</option>
                      <option>St. Helena</option>
                      <option>St. Pierre and Miquelon</option>
                      <option>Sudan</option>
                      <option>Suriname</option>
                      <option>Svalbard and Jan Mayen Islands</option>
                      <option>Swaziland</option>
                      <option>Sweden</option>
                      <option>Switzerland</option>
                      <option>Syrian Arab Republic</option>
                      <option>Taiwan, Province of China</option>
                      <option>Tajikistan</option>
                      <option>Tanzania, United Republic of</option>
                      <option>Thailand</option>
                      <option>Togo</option>
                      <option>Tokelau</option>
                      <option>Tonga</option>
                      <option>Trinidad and Tobago</option>
                      <option>Tunisia</option>
                      <option>Turkey</option>
                      <option>Turkmenistan</option>
                      <option>Turks and Caicos Islands</option>
                      <option>Tuvalu</option>
                      <option>Uganda</option>
                      <option>Ukraine</option>
                      <option>United Arab Emirates</option>
                      <option>United Kingdom</option>
                      <option>United States</option>
                      <option>United States Minor Outlying Islands</option>
                      <option>Uruguay</option>
                      <option>Uzbekistan</option>
                      <option>Vanuatu</option>
                      <option>Venezuela</option>
                      <option>Viet Nam</option>
                      <option>Virgin Islands (British)</option>
                      <option>Virgin Islands (U.S.)</option>
                      <option>Wallis and Futuna Islands</option>
                      <option>Western Sahara</option>
                      <option>Yemen</option>
                      <option>Yugoslavia</option>
                      <option>Zambia</option>
                      <option>Zimbabwe</option>
                    </select>
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label>Choose Account Type</label><br />
                    <select
                      style="background: transparent; color: #555"
                      class="form-control"
                      name="account_plan"
                      id="actype"
                      required=""
                      class="form-control"
                      dropdown="100"
                      value=""
                    >
                      <option value="Mini">Mini</option>
                      <option value="Silver">Silver</option>
                      <option value="Gold">Gold</option>
                      <option value="Platinum">Platinum</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1"
                      >Choose the currency</label
                    ><br />
                    <select
                      style="background: transparent; color: #555"
                      name="currency"
                      required=""
                      class="form-control"
                      dropdown="100"
                      value=""
                    >
                      <option value="USD">$ USD</option>
                      <option value="EURO">&euro; EUR</option>
                      <option value="GBP">&pound; GBP</option>
                      <option value="Bitcoin">&#3647; Bitcoin</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Leverage</label><br />
                    <select
                      style="background: transparent; color: #555"
                      name="leverage"
                      id="leverage"
                      required=""
                      class="form-control"
                      dropdown="100"
                      value=""
                    >
                      <option value="1.1">1.1</option>
                      <option value="1.5">1.5</option>
                      <option value="1.10">1.10</option>
                      <option value="1.20">1.20</option>
                      <option value="1.30">1.30</option>
                      <option value="1.50">1.50</option>
                      <option value="1.100">1.100</option>
                      <option value="1.200">1.200</option>
                      <option value="1.400">1.400</option>
                      <option value="1.500">1.500</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      style="background: transparent; color: #555"
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
                      value=""
                      required=""
                    />
                    <span class="help-block"></span>
                  </div>

                  <!--<div class="form-group ">
            <label>Enter Captcha</label>
            <input style="background:transparent; color:#555;" type="text" class="form-control" placeholder="Enter the Captcha code below"name="captcha" id="captcha">
        </div>
        <div class="form-group col-6">
            <label>Captcha Code</label>
            <img src="scripts/captcha.php" alt="PHP Captcha">
        </div>-->

                  <div class="form-group">
                    <input
                      type="submit"
                      class="btn btn-primary"
                      name="submit"
                      value="Submit"
                    />
                    <input type="reset" class="btn btn-default" value="Reset" />
                  </div>
                  <p>
                    Already have an account? <a href="/signin">Login here</a>.
                  </p>
                </form>
              </div>
            </div>
            <!-- Copyright Text Starts -->
            <p class="text-center copyright-text">
              Copyright © 2009 Block Forex Trade <br />
              All Rights Reserved
            </p>
            <!-- Copyright Text Ends -->
          </div>
        </div>
      </div>
    </div>
    <!-- Wrapper Ends -->
    <script
      src="/1_69_0/static/js/render.d02d6132b6e06cd0a41d.js"
      async=""
    ></script>
  </body>

  <!-- Mirrored from elitecryptfx.com/invest/register/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Oct 2021 11:38:13 GMT -->
</html>
<script
  src="//code.tidio.co/dvwc8yxg1tmdbdyimh6yvqn4pnmrqn2a.js"
  async
></script>
